---
interface Props {
    title: string
    description: string
}

const { description, title } = Astro.props
import Footer from '../components/footer.astro'
import '../styles/global.css'
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="theme-color" content="#000000" />
        <meta name="author" content="c0d3hdz" />
        <meta name="keywords" content="c0d3hdz, portfolio, desarrollador web, junior, HTML, CSS, JavaScript" />
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@c0d3hdz" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:creator" content="@c0d3hdz" />
        <meta name="twitter:url" content="https://c0d3hdz.github.io/" />
        <meta
            name="twitter:image:src"
            content="https://avatars.githubusercontent.com/u/145168535?s=400&u=454fdad1092fc6cf992e4483ea07c510fd6ce488&v=4"
        />
        <meta name="twitter:image:width" content="400" />
        <meta name="twitter:image:height" content="400" />
        <meta name="twitter:image:alt" content="Portfolio de c0d3hdz" />
        <meta name="og:title" content={title} />
        <meta name="og:description" content={description} />
        <meta name="og:url" content="https://c0d3hdz.github.io/" />
        <meta name="og:type" content="website" />
        <meta name="og:site_name" content="Portfolio de c0d3hdz" />
        <meta name="og:image" content="https://avatars.githubusercontent.com/u/145168535?s=400&u=454fdad1092fc6cf992e4483ea07c510fd6ce488&v=4" />
        <meta name="og:image:width" content="400" />
        <meta name="og:image:height" content="400" />
        <meta name="og:image:alt" content="Portfolio de c0d3hdz" />
        <meta
            name="twitter:image"
            content="https://avatars.githubusercontent.com/u/145168535?s=400&u=454fdad1092fc6cf992e4483ea07c510fd6ce488&v=4"
        />
        <meta name="twitter:image:alt" content="Portfolio de c0d3hdz" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="flex flex-col min-h-screen">
        <main class="flex-grow flex flex-col md:w-3/6 mx-auto items-center justify-center p-4">
            <slot />
        </main>
        <Footer />
    </body>
</html>
<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
    html {
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: #46a0e5 #e5e7eb;
        font-family: 'Onest', sans-serif;
    }
    body {
        background: #000000;
        background: linear-gradient(0deg, rgb(1, 16, 23) 0%, rgb(2, 26, 39) 54%, rgb(3, 38, 57) 100%);
    }

    #header-nav {
        animation: blur linear both 0.5s;
        animation-timeline: scroll();
        animation-range: 0 500px;
    }
    strong {
        color: #e5a846;
    }
    @keyframes blur {
        to {
            backdrop-filter: blur(20px);
            border-width: 1px;
            border-color: rgba(0, 0, 0);
            padding: 0.25rem 0.75rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgba(229, 229, 229, 0.161);
            border-radius: 9999px;
        }
    }
</style>
